<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application android:theme="@style/Theme.GritBoardMusic">

        <activity
            android:name=".music.MusicLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".music.MusicHomeActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".music.NowPlayingActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.GritBoardMusic" />

        <service
            android:name=".music.MusicPlaybackService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />
    </application>
</manifest>
